
@import 'reset.import.css';
@import 'framework.import.css';


.navigator {position: relative;width: 100%;}
.navigator nav {color: #fff;font-size: 20px;position: fixed;width: 100%;top: 0;left: 0;z-index: 100;}
.navigator nav:after{content:"";width: 20px;height: 17px;background-image: url(../img/icon-nav.png);position: absolute;left:20px;top: 20px;}
.navigator nav:before{content:""; background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, 0.4)), to(rgba(0,0,0,0)));width: 100%;top: 0;left: 0;height:148px;position: absolute;}
.navigator nav ul.nav{padding: 14px 18px 10px 70px;}
.navigator nav ul.nav li:after{content: "";height: 2px;background-color: #fff;width: 20px;position: absolute;left: 9px;bottom: -6px;}
.navigator nav ul.nav li{display: inline-block;width: 40px;position: relative;margin: 0 13px;}

.navigator  .sidebar{background-color: #171515;padding:58px 25px; color: #fff;position: fixed;width: 65%;top: 0;left: 0;height: 100%;z-index: 110;transform: translateX(-100%);}
.navigator  .sidebar p.username{height: 50px;line-height: 50px; font-size: 20px;opacity: 0.8; position: relative;width: 100%;position: relative;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.navigator  .sidebar p.username:after{content: ""; position: absolute;width: 30px;height: 3px;background-color: #716F6F;left: 0;bottom: 0;}
.navigator  .sidebar ul.side-nav{font-size: 30px;}
.navigator  .sidebar ul.side-nav .item-nav{height:70px;line-height: 70px; }
.navigator  .sidebar.show{transform: translateX(0);}
